#sidebar                        { width: 18em; height: 40em; float: left; font-size: 0.825em; background-color: white; border: 1px solid white; padding: 1em; width: 22em; margin-right:20px; height: 36em; }
#sidebar h2                     { color: black; text-align: center; margin: 0; }
#sidebar .parts                 { padding-left: 1em; list-style-type: none; margin-bottom: 2em; text-align: right; }
#sidebar .parts li a            { color: white; text-decoration: none; }
#sidebar .parts li a:visited    { color: white; }
#sidebar .parts li a:hover      { color: white; text-decoration: underline; }
#sidebar .parts li a.selected   { color: #F08010; }
#sidebar .parts li a i          { color: #AAA;    }
#sidebar .parts li a.selected i { color: #F08010; }
#sidebar .settings              { line-height: 1.2em; height: 1.2em; text-align: right; }
#sidebar .settings.size         { }
#sidebar .settings.speed        { margin-bottom: 1em; }
#sidebar .settings label        { vertical-align: middle; }
#sidebar .settings input        { vertical-align: middle; }
#sidebar .settings select       { vertical-align: middle; }
#sidebar .description           { margin-bottom: 2em; }
#sidebar .description b         { font-weight: normal; color: black; }
#controls {display: none;}
#lanes {display: none;}
